@charset "UTF-8";
p {
  font-size: 28px;
  color: #fff;
  font-weight: 400;
  font-family: "Metrophobic", Helvetica, sans-serif; }

a {
  font-size: 18px;
  font-family: "Orbitron", Helvetica, sans-serif;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase; }

html, body, #container, main {
  margin: 0;
  height: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Orbitron";
  font-weight: bold;
  line-height: 1.4; }

h4 {
  margin: 0.7em 0;
  font-size: 0.9em; }

.btn {
  padding: 24px 40px 20px 40px;
  background-color: #0dc1bc;
  border-top: 0;
  border-left: 0;
  border-right: 4px solid #0c6f6d;
  border-bottom: 4px solid #0c6f6d;
  color: #fff;
  display: inline-block;
  outline: none;
  font-family: "Orbitron";
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em; }
  .btn.danger {
    background-color: #EB158E;
    border-right: 4px solid #565656;
    border-bottom: 4px solid #565656; }

.btn:hover {
  background-color: #0c6f6d; }

canvas {
  display: block; }

main > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
  height: 600px;
  background: #141414 url("/images/homepage_bg.png") 0 0 repeat;
  border: 5px solid #565656; }

.play {
  width: 1000px;
  height: 600px; }
  .play nav {
    float: left;
    width: 200px;
    height: 100%;
    background: #131313;
    border-right: 5px solid #000;
    box-sizing: border-box;
    padding: 20px;
    color: #D9D6D2; }
    .play nav .headshot-level {
      overflow: hidden;
      margin-bottom: 3em; }
    .play nav .headshot {
      width: 50px;
      height: 50px;
      display: block;
      float: left;
      margin-right: 8px; }
    .play nav .level {
      float: left; }
      .play nav .level h4 {
        margin: 0.7em 0 0.4em 0; }
      .play nav .level .level-name {
        margin-top: 0.4em; }
  .play .right {
    float: left;
    width: 800px; }
  .play .powerups .pu {
    overflow: hidden;
    margin-bottom: 14px; }
    .play .powerups .pu .icon, .play .powerups .pu .command {
      margin-right: 8px;
      width: 36px;
      height: 36px;
      line-height: 36px;
      float: left; }
    .play .powerups .pu .info-btn {
      float: right;
      width: 20px;
      height: 20px;
      margin: 8px;
      border: 0;
      padding: 0; }

.ReactModal__Overlay {
  background: rgba(0, 0, 0, 0.3); }

.ReactModal__Content {
  outline: none;
  max-width: 637px;
  margin: 0 auto;
  border-width: 13px;
  border-color: #0DC1BC;
  border-style: dotted;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #D9D6D2; }
  .ReactModal__Content li, .ReactModal__Content p {
    font-size: 20px;
    color: #D9D6D2;
    font-family: "Metrophobic";
    margin-bottom: 14px; }
  .ReactModal__Content .Inner_border {
    border-width: 13px;
    border-color: #0dc1bc;
    border-style: dotted;
    background: #000; }
  .ReactModal__Content .content {
    padding: 40px 40px 0 40px;
    max-height: 437px;
    overflow-y: auto; }
  .ReactModal__Content .buttons {
    padding: 20px 40px 40px 40px;
    line-height: 1em; }
  .ReactModal__Content .btn {
    font-size: 24px;
    line-height: 1;
    margin-right: 10px; }
    .ReactModal__Content .btn:last-child {
      margin-right: 0; }

body {
  background: #070707 url("/images/story_page_bg.png") 0 0 repeat; }

.story-page {
  width: 600px;
  margin: 0 auto;
  text-align: center; }
  .story-page .header-img {
    margin: 70px auto 0 auto; }
    .story-page .header-img img {
      width: 600px; }
  .story-page a {
    padding: 24px 40px 20px 40px;
    background-color: #0dc1bc;
    border-top: 0;
    border-left: 0;
    border-right: 4px solid #0c6f6d;
    border-bottom: 4px solid #0c6f6d;
    color: #fff;
    display: inline-block;
    outline: none;
    font-family: "Orbitron";
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 0 auto;
    display: inline-block; }
  .story-page a:hover {
    background-color: #0c6f6d; }
  .story-page .typed-mask {
    overflow: hidden; }
  .story-page .typed-scroll {
    height: 154px;
    text-align: left;
    overflow-y: scroll;
    margin: 1em -20px 1em 0; }
  .story-page p {
    margin: 0;
    white-space: pre;
    width: 600px; }

.music-control {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0); }
  .music-control.on::before {
    content: ""; }
  .music-control.off::before {
    content: ""; }
