body {
	background: #070707 url('/images/story_page_bg.png') 0 0 repeat;
}

.story-page {
	width: 600px;
	margin: 0 auto;

	text-align: center;

	.header-img {
		margin: 70px auto 0 auto;

		img {
			width: 600px;
		}
	}

	a {
		@include btn-primary;
		margin: 0 auto;
		display: inline-block
	}

	a:hover {
		@include btn-primary-hover;
	}

	.typed-mask {
		overflow: hidden;
	}

	.typed-scroll {
		height: 154px;
		text-align: left;
		overflow-y: scroll;
		margin: 1em -20px 1em 0;
	}

	p {
		margin: 0;
		white-space: pre;
		width: 600px;
	}
}